<br>
<h1 class="text-center">Chocolate</h1>
<div class="row">
    <div class="col-xs-2 col-sm-2 col-smd-2">
      <div class="card">
        <img class="card-img-top center-block product-item" src="assets/snickers.jpg"  alt="Bakery">
        <div class="card-block">
          <h4 class="card-title">Snickers</h4>
          <p class="card-text">4$
          </p>
          <a class="btn btn-primary">Add to cart</a>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <br>
  
        <div class="col-xs-2 col-sm-2 col-smd-2">
          <div class="card">
            <img class="card-img-top center-block product-item" src="assets/reese.jpg"  alt="Bakery">
            <div class="card-block">
              <h4 class="card-title">Reese</h4>
              <p class="card-text">2$
              </p>
              <a class="btn btn-primary">Add to cart</a>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
        </div>
